body{
  background-color: #0492cf;
  width: 95%;
}

hr{
  background-color: #0492cf;
  border-style: dotted none none;
  border-color: grey;
  border-width: 10px;
  height: 0;
  width: 10%;
}
img{
max-width: 400px;
max-height: 400px;
height: auto;
width: auto;}

h1{
  color: #064635;
}

h3{
  color: #064635;
}

headerPicture{
  max-width: auto;
  max-height: auto;
}
